@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
/*Hearder*/
.square {
    width: 250px;
    height: 200px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    position: absolute;
    box-shadow: 1px 1px 3px gray;
}
.logo-imac {
    width: 193.74px;
    height: 82.88px;
    position: absolute;
}
.laboremus {
    background: rgb(223, 99, 16);
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 70px;
}
.logo-laboremus {
    height: 44px;
    width: 212px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;
    background: rgb(25, 25, 25);
    width: 100%;
}
.logo-borda {
    height: 48.75px;
    width: 124px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
}
nav ul li a {
    position: relative;
    text-decoration: none;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    padding: 2px;
    color: white;
}
nav a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
nav a:hover::after {
    width: 100%;
}
.FixoNoTopo {
    position: fixed;
    top: 0px;
}
/*About*/
.about h1 {
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 100px;
    color: rgb(223, 99, 16);
    text-shadow: 1px 1px 5px black;
}
.about p {
    text-align: right;
    font-size: 30px;
}
.about {
    display: flex;
    justify-content: space-between;
    padding: 95px 300px;
}
.about-text {
    display: flex;
    flex-direction: column;
    padding-top: 100px
}
.tcg-home {
    height: 536.5px;
    width: 407.5px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.fale-conosco {
    background: #E71313;
    border: none;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
/*Capacity*/
.capacity {
    background: rgb(223, 99, 16);
}
.capacity h1 {
    text-transform: uppercase;
    padding: 70px 0 0 200px;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.cap-img {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 70px 200px;
}
.capacity img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/*Specification*/
table {
    border-collapse: collapse;
    margin: 100px auto;
    width: 50%;
}
table caption {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(223, 99, 16);
    padding: 0 0 50px 0;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 1px 1px rgb(223, 99, 16);
}
table td, table th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}
.tr {
    background: #cccccc6a;
}
/*Models*/
.models {
    background: rgb(223, 99, 16);
}
.models h1 {
    text-transform: uppercase;
    padding: 70px 0 0 200px;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px 1px black;
}
.content-slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
}
.content-slide p {
    width: 400px;
    text-align: justify;
}
.carrossel {
    width: 500px;
    padding: 50px 0 100px 0;
    display: flex;
    align-items: center;
  }
  .slide-text {
    gap: 100px;
  }
  .imagens {
    display: flex;
    overflow: hidden;
  }
  
  .imagens img {
    width: 100%;
    height: auto;
  }
  
  .anterior, .proximo {
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .anterior {
    left: 10px;
  }
  
  .proximo {
    right: 10px;
  }
  
/*Video*/
.video h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(223, 99, 16);
    text-align: center;
    padding: 70px 0;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 1px 1px rgb(223, 99, 16);
}
.play {
    padding: 0 0 100px 0;
    display: flex;
    justify-content: center;
}

/*Contact*/
.contact {
    background: rgb(25, 25, 25);
    color: white;
}
.contact-main {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.contact-main a {
    text-decoration: none;
    color: white;
}
.logo-branca {
    height: 37.44px;
    width: 101.52px;
}
/*Whats*/
.whats img {
    width: 50px;
    height: 50px;
}
.whats {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 9999;
}
@media(max-width: 850px) {
    .square {
        display: none;
    }
    .laboremus {
        justify-content: center;
    }
    nav ul {
        display: none;
    }
    nav {
        justify-content: center;
    }
    .about {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0 20px 0;
    }
    .tcg-home {
        height: 429.2px;
        width: 326px;
    }
    .about p {
        text-align: center;
        font-size: 25px;
    }
    .about-text {
        padding-top: 0;
    }
    .capacity {
        padding: 70px 0;
    }
    .capacity h1 {
        padding: 0 0 30px 0;
        text-align: center;
        font-size: 25px;
    }
    .cap-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
        gap: 20px;
    }
    .models h1 {
        text-align: center;
        padding: 70px 0 20px 0;
        font-size: 25px;
    }
    .content-slide {
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-slide p {
        width: 300px;
        text-align: justify;
    }
    .FixoNoTopo {
        display: none;
    }
    .carrossel {
        width: 80%;
    }.video h1 {
        font-size: 25px;
    }
    .play iframe {
        width: 359.04px;
        height: 202.24px;
    }
    .contact-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 70px 0;
        gap: 50px;
    }
    table caption {
        font-size: 25px;
    }
    table {
        margin: 70px auto;
    }
    .contact-main p {
        text-align: center;
    }
    .contact-img {
        display: flex;
        justify-content: center;
    }
}


